@model string
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Bonjour @Model<br />

<a href="/Admin/UserManagement">Ajouter utilisateurs</a><br/>
<a href="/Admin/DownloadBat">Download bat file</a><br/>
<a href="/Admin/DownloadClaroline">Download Claroline file</a><br/>
<a href="/Admin/DownloadNutriLog">Download Nutrilog file</a><br/>
