@using WebUI.Models;
@model ProfileSoftwareModel
@{
    ViewBag.Title = "ProfilManagement";
}
<div class="row">
    <h2>Gestion des profils</h2>
    <h3>Créer un profil</h3>

    @using (Html.BeginForm("AddProfileType", "Admin", FormMethod.Post))
    {
        <div class="form-group">
            <label for="typeProfile">Profil: </label>
            <input type="text" name="typeProfile"/><br/>
            <select multiple class="form-control" name="software">
                @{ 
                    foreach(var soft in Model.Softwares)
                    {
                        <option value="@soft.Id">@soft.Name</option>
                    }
                }
            </select>
        </div>

        <div style="width:100%;margin-top:5px;">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
    }
</div>