@{
    ViewBag.Title = "Log In";
}
<script src="~/Scripts/SignInScript.js"></script>
<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="panel panel-default" style="margin-top:10px">
            <div class="panel-heading"><label>Sign In</label></div>
            <div class="panel-body">
                @using (Html.BeginForm("UserFromReg", "Connection", FormMethod.Post, new {@class= "form-inline StudentConnection" }))
                {
                    <div class="form-group">
                        <label for="regNumber" >Matricule : </label>
                        @Html.TextBox("regNumber", null, new {@class="form-control"})
                    </div>
                    <div style="width:100%;margin-top:15px;" class="text-center">
                        <button type="submit" class="btn btn-success" style="width:70%;">Valider</button>
                    </div>
                }
                @using (Html.BeginForm("UserFromReg", "Connection", FormMethod.Post, new { @class = "form form-horizontal AdminConnection hidden" }))
                {
                    <div class="control-group">
                        <label for="regNumber">Matricule : </label>
                        @Html.TextBox("regNumber", null, new { @class = "form-control" })
                    </div>
                    <div class="control-group">
                        <label for="password">Mot de passe : </label>
                        @Html.TextBox("password", null, new { @class = "form-control", @type = "password" })
                    </div>
                    <div style="width:100%;margin-top:15px;" class="text-center">
                        <button type="submit" class="btn btn-success" style="width:70%;">Valider</button>
                    </div>
                }
                <div class="pull-right" style="margin-top:10px;">
                    <a href="#" id="AdminConnectionLink" class="StudentConnection" >Connexion admin</a>
                    <a href="#" id="StudentConnectionLink" class="AdminConnection hidden">Connexion etudiant</a>
                </div>
            </div>
        </div>
    </div>
</div>


